@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@theme {
  --color-massao: var(--massao);
  --color-ao: var(--ao);
  --color-sky: var(--sky);
  --color-byshtak: var(--byshtak);
  --color-lightHaki: var(--lightHaki);
  --color-lightBrown: var(--lightBrown);
  --color-skinColor: var(--skinColor);
  --color-gray: var(--gray);
  --color-grayLight: var(--grayLight);
  --color-cream: var(--cream);
}

:root {
  --massao: #2703cb;
  --ao: #2425d2;

  --sky: #c5ebfd;
  --byshtak: #f1d17a;
  --lightHaki: #a6cda9;
  --lightBrown: #ebbd6f;
  --skinColor: #f7cb9b;

  --gray: #4d4d4d;
  --grayLight: #838383;
  --cream: #f3f4f8;
}

/* text colors */
.text-massao {
  color: var(--massao);
}

.text-gray {
  color: var(--gray);
}

/* background colors */
.bg-sky {
  background-color: var(--sky);
}
.bg-cream {
  background-color: var(--cream);
}

/* borders */
.border-ao {
  border: 1px solid var(--ao);
}

@theme {
  /* Typography presets */
  --text-title-lg: 34px;
  --text-category: 17px;
  --text-dealCard-title: 23px;
  --text-card-title: 16px;
  --text-card-caption: 14px;
  --text-card-price: 18px;
  --text-card-fixedPrice: 16px;
  --text-card-star-counter: 14px;
  --text-card-badge: 12px;
  --text-header: 48px;
  --text-main: 30px;
  --text-faq: 20px;
  --font-lato: 'Lato', sans-serif;
  --font-publicSans: 'Public Sans', sans-serif;
  --font-poppins: 'Poppins', sans-serif;
}

@utility container {
  padding-inline: 60px;
  @media (max-width: 1280px) {
    padding-inline: 30px;
  }
  @media (max-width: 1024px) {
    padding-inline: 20px;
  }
  @media (max-width: 768px) {
    padding-inline: 16px;
  }
  margin-inline: auto;
}
